<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="main-box">
            <div class="logo-box">
            <img src="/images/pinnnn.png" class="logo">
            </div>
            <h2 class="title">Log In To See More</h2>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <%
                if(logInFailureMsg.length>0){%>
                    <p class="error"><%=logInFailureMsg[0]%></p>
                <%}
                %>
                <input type="submit" value="Log In">
            </form>
            <h3 class="h3">By continuing, you agree to Pinterest's <b>Business Terms of Service</b> and acknowledge you've read our <b>Privacy Policy</b>. <b>Notice at collection</b></h3>
            <h3 class="h32">Not on Pinterest yet? <b><a href="/">Sign up</a></b></h3>
        </div>
    </header>
</body>
</html>